<form class="form" id="new_article" action='<%= action%>' data-remote="true" method='<%= method %>'>

  <% if article.errors.any? %>
    <div id="error_explanation" class="page-header">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <select class="form-control" name="article[category_id]" id="article_category_id">
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="article_title" class="control-label">Title</label>
    <input class="form-control" value="<%= article.title%>" type="text" name="article[title]" id="article_title">
  </div>

  <div class="form-group">
    <label for="article_text">Text</label>
    <textarea class="form-control" rows="3" name="article[text]" id="article_text"><%= article.text%></textarea>
  </div>

  <div class="actions">
    <input class="btn btn-primary pull-right" type="submit" name="commit" value="<%= btn_name %>" data-disable-with="Create Article">
  </div>
</form>
