<form class="new_article" id="new_article" action='<%= action%>' data-remote="true" method='<%= method %>'>

  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <select name="article[category_id]" id="article_category_id">
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <label for="article_title">Title</label>
    <input value="<%= article.title%>" type="text" name="article[title]" id="article_title">
  </div>

  <div class="field">
    <label for="article_text">Text</label>
    <textarea name="article[text]" id="article_text"><%= article.text%></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="<%= btn_name %>" data-disable-with="Create Article">
  </div>
</form>
