<div class="page-header">
  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success pull-right" %>
  <h1><%= @article.title %></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
