<div class="page-header">
  <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-success pull-right" %>
  <h1><%= @event.summary %></h1>
</div>

<p>
  <strong>Summary:</strong>
  <%= @event.summary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= l @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= l @event.end_time %>
</p>

<%= link_to 'Back', events_path, class: "btn btn-primary pull-right" %>
