<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render 'shared/navigation' %>
    <div class="container yobject-marked" style="margin-top: 80px" role="main">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
